@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/*GLOBAL*/
body {
  position: relative;
}

#mobile {
  display: none;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header {
  padding-top: 1rem;
}

header ul li {
  width: 100%;
}
header ul li a {
  text-decoration: none;
  font: normal normal 18px/20px Rubik;
  color: #252b46;
  transition: all 0.3s ease;
}
header ul li a:hover {
  color: #fa5757;
  opacity: 0.7;
}
header ul li button {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
}

main {
  margin-top: 3rem;
}

#main-top {
  position: relative;
}

#main-top .container {
  display: flex;
}
#main-top .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-top .text h1 {
  font: normal normal 500 35px/30px Rubik;
  color: #252b46;
}
#main-top .text p {
  font: normal normal 400 20px/30px Rubik;
  color: #9194a1;
}
#main-top .btn.chrome {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
  width: 30%;
  background: #5368df;
  font: normal normal 400 18px/30px Rubik;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 3px;
  margin-right: 10px;
}
#main-top .btn.firefox {
  font: normal normal 400 18px/30px Rubik;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 2px;
  margin-left: 10px;
}
#main-top .image {
  z-index: 10;
}

#main-top::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #5368df;
  height: 280px;
  width: 500px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  z-index: 0;
}

#features ul.features {
  justify-content: center;
}
#features li.feature {
  padding: 3rem 3rem 0.5rem;
  border-bottom: 1px solid #9194a1;
  cursor: pointer;
}
#features .feature.active {
  border-bottom: 2px solid #fa5757;
}
#features .content {
  text-align: center;
}
#features .content h2, #features .actual-content li h3 {
  font: normal normal 500 30px/30px Rubik;
  color: #252b46;
}
#features .content p, #features .features li {
  font: normal normal 400 18px/30px Rubik;
  color: #9194a1;
  white-space: pre-line;
}
#features .tab {
  display: none;
}
#features .tab.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
#features .actual-content {
  margin-top: 3rem;
  position: relative;
  z-index: 10;
}
#features .actual-content li > .col-md-6 {
  display: flex;
  justify-content: center;
}
#features .actual-content li img {
  width: 60%;
  z-index: 11;
}
#features .actual-content li .col-md-6:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
#features .actual-content li p {
  font: normal normal 400 16px/30px Rubik;
  color: #9194a1;
  width: 60%;
}
#features .actual-content li button {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
  width: 30%;
  background: #5368df;
}

#extensions h2 {
  font: normal normal 500 30px/30px Rubik;
  color: #252b46;
}
#extensions p {
  font: normal normal 400 18px/30px Rubik;
  color: #9194a1;
}
#extensions .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px 2px;
}
#extensions .card-body button {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
  background: #5368df;
  font-size: 13px;
}
#extensions .card-body p {
  font: normal normal 500 16px/25px Rubik;
  color: #252b46;
}
#extensions .card-body p span {
  font: normal normal 400 12px/25px Rubik;
  color: #9194a1;
  padding-bottom: 15px;
}
#extensions .card-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px dotted #9194a1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#extensions {
  margin-bottom: 3rem;
}

#faq h2 {
  font: normal normal 500 30px/30px Rubik;
  color: #252b46;
}
#faq p {
  font: normal normal 400 18px/30px Rubik;
  color: #9194a1;
  margin-bottom: 2rem;
}
#faq .row:nth-child(2) {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#faq .row:nth-child(2) .col-12 {
  width: 50%;
}
#faq ul {
  display: block;
}
#faq li {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
  padding: 1rem;
  flex-direction: column;
  cursor: pointer;
}
#faq li.arrow .aux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#faq .arrow .hidden {
  display: none;
}
#faq .arrow.up img {
  transform: rotateX(180deg);
}
#faq .arrow .aux a {
  font: normal normal 500 18px/25px Rubik;
  color: #252b46;
  text-decoration: none;
}
#faq button {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
  background: #5368df;
  width: 20%;
}

footer {
  background: #252b46;
}

#prefooter {
  background: #5368df;
  padding: 4rem;
  margin-top: 2rem;
}

#prefooter p {
  font: normal normal 400 16px/25px Rubik;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
}
#prefooter h2 {
  font: normal normal 500 35px/35px Rubik;
  color: #fff;
}
#prefooter .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
#prefooter input {
  width: 20%;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0.5rem;
}
#prefooter button {
  border: none;
  border-radius: 3px;
  background: #fa5757;
  color: #fff;
  font: normal normal 18px/20px Rubik;
  padding: 10px;
  width: 100%;
  transition: all 0.4s ease;
  width: 15%;
}

#footer {
  padding: 1rem;
}

#footer .col-12 {
  display: flex;
  justify-content: left;
  align-items: center;
}
#footer .links {
  display: flex;
}
#footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1rem;
}
#footer ul {
  width: 100%;
  justify-content: end;
}
#footer ul li {
  padding: 1rem;
}

.attribution {
  display: block;
  position: relative;
  float: right;
  color: #fff;
}

.attribution p {
  font: normal normal 400 16px/20px Rubik;
}

.hamb {
  display: none;
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }
  header .menu {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .hamb {
    display: block;
  }

  #mobile.open {
    display: block;
    background: #252b46;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    max-width: 100%;
  }

  #mobile .container {
    padding-top: 1rem;
  }
  #mobile .row .col-6:last-child {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #mobile ul {
    flex-direction: column;
    margin-top: 2rem;
  }
  #mobile ul li {
    padding: 1rem 0;
    border-top: 1px solid #9194a1;
    border-bottom: 1px solid #9194a1;
    width: 95%;
    display: flex;
    justify-content: center;
  }
  #mobile ul li a {
    text-decoration: none;
    text-align: center;
    font: normal normal 400 18px/30px Rubik;
    color: #fff;
  }
  #mobile button {
    border: none;
    border-radius: 3px;
    background: #fa5757;
    color: #fff;
    font: normal normal 18px/20px Rubik;
    padding: 10px;
    width: 100%;
    transition: all 0.4s ease;
    background: none;
    border: 2px solid #9194a1;
  }

  #main-top .container {
    flex-direction: column;
  }
  #main-top .image img {
    width: 100%;
  }
  #main-top h1, #main-top p {
    text-align: center;
  }
  #main-top .btn-row .btn {
    width: 50%;
  }
  #main-top .btn-row {
    padding-bottom: 1rem;
  }

  #main-top::before {
    top: 0;
    height: 205px;
    width: 249px;
  }

  #features ul, #features .tab.active {
    flex-direction: column;
  }
  #features .actual-content li .col-md-6:nth-child(2) {
    justify-content: center;
    align-items: center;
  }
  #features .actual-content li p {
    width: 100%;
    text-align: center;
  }
  #features .actual-content {
    margin-bottom: 2rem;
  }

  #extensions ul {
    display: block;
  }
  #extensions ul li {
    margin-bottom: 1rem;
  }

  #faq .row:nth-child(2) .col-12 {
    width: 100%;
  }
  #faq button {
    width: 45%;
  }

  #prefooter .contact {
    width: 100%;
    flex-direction: column;
  }
  #prefooter .contact input, #prefooter .contact button {
    width: 100%;
    margin-bottom: 0.3rem;
  }

  #footer .links {
    padding-top: 1rem;
    flex-direction: column;
  }
  #footer .links a {
    padding: 1rem 0;
  }
  #footer ul {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */